.home__header {
    text-align: center;
}

.home__header__heading {
    margin-top: 50px;
    color: #0080ff;
    font-size: 2rem;
}

.home__header__title {
    font-size: 3rem;
    color: #0f52ba;
    margin-bottom: 1rem;
}

.home__header__title span {
    color: #b0c4de;
}

.home__header__desc {
    color: #a9a9a9;
    font-weight: 500;
}